@tailwind base;
@tailwind components;
@tailwind utilities;

html:focus-within {
    scroll-behavior: smooth;
}

@media(prefers-reduced-motion) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

.card-1 {
    @apply text-black p-5 shadow-lg flex flex-col overflow-auto break-words rounded-md;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.7710434515603116) 100%, rgba(0,212,255,1) 100%);
}

.card-2 {
    @apply bg-blue-50 text-black shadow-lg flex overflow-auto break-words rounded-md;
}

.card-3 {
    @apply bg-blue-50 text-black shadow-lg flex flex-col overflow-auto break-words rounded-md;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(components/img/movie-poster.jpg);
}

input, button {
    outline: none !important;
}

.search-icon {
    bottom: 6px;
    right: 10px;
}

.w-90vw {
    width: 90vw;
}